@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap');

:root {
    --primary-color: #142725;
    --secondary-color: #276532;
    --accent1-color: #317B7A;
    --accent2-color: #A8E5EA;
    --accent3-color: #eef9fa;

    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Quattrocento', serif;
}

/* breakpoints: mobile 320px, tablet 768px, desktop 1024px */

body {
    min-width: 300px;
}

/* Hero Image */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.hero article {
    position: absolute;
    padding: 1rem;
    margin: 1.5rem;
    top: 0.25rem;
    left: 0.25rem;
    right: 0.25rem;
    color: var(--accent3-color);
    text-shadow: 2px 2px var(--primary-color);
    font-family: var(--heading-font);
} /* End Hero Img */

/* Anouncment Bar Test */
.announcement {
    background-color: #e70d43;
    color: #efefef;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 1.4;
    box-shadow: 0 4px 10px rgba(120,120,120,.6);
}

.announcement_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 2.8rem;
    font-weight: 500;
}

.announcement_btn {
    position: absolute;
    right: 2rem;
    border: none;
    background: url('../images/iconCancel.svg');
    height: 1.2rem;
    width: 1.2rem;
    background-size: contain;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.announcement_btn:hover {
    transform: scale(1.1);
}