@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #00568D;
    --secondary-color: #02C394;
    --accent-color: #F9F9F4;
    --accent2-color: #f0efe8;
    --accent3-color: #202b33;

    --font: 'Montserrat', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 290px;
}

/* HEADER */

header {
    font-family: var(--font);
}

header img {
    width: 4rem;
    height: 4rem;
    margin: 0.75rem 0.75rem 0 0.75rem;
}

header h1 {
    margin: 0 0.75rem;
    color: var(--secondary-color);
    font-size: 60px;
}

.navigation {
    margin: 0.5rem;
    margin-left: auto;
}

.navigation ul {
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.navigation a {
    margin: 0.5rem 1rem;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;    
}

/* HAMBURGER */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	position: absolute;
	top: 2rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    color: var(--secondary-color);
}

#menu.open::before {
	content: "X";
    color: var(--secondary-color);
}

.navigation a {
	display: none;
	padding: 1rem;
}

.open a {
	display: block;
}

/* HERO */
#hero, #local, #options, footer {
    margin-top: 3rem;
}

#hero div {
    margin-top: auto;
    margin-bottom: auto;
}

#hero img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

#hero h2 , 
#local h2, 
#rentals h2, 
#reservations div h2, 
#thankyou h2{
    font-family: var(--font);
    color: var(--secondary-color);
    margin: 0.75rem;
    padding-top: 0.5rem;
}

#hero p , 
#local p, 
#options section li, 
#rentals main p, 
#reservations main div p, 
#thankyou p {
    font-family: var(--font);
    color: var(--primary-color);
    margin: 0.75rem;
}

#hero button {
    font-family: var(--font);
    color: var(--accent-color);
    background-color: var(--primary-color);
    text-transform: uppercase; 
    padding: 0.75rem;
    margin: 0.75rem;
    border: none;
    border-radius: 0.75rem;
    box-shadow: 4px 4px 2px var(--secondary-color);
}

/* LOCAL WEATHER */

#local {
    background-color: var(--accent2-color);
}

#local section h3, #options section h3 {
    font-family: var(--font);
    color: var(--primary-color);
    margin: 0.75rem;
}

#local section img {
    margin-left: 20%;
}

iframe {
    border: none;
    object-fit: cover;
    width: 100%;
    height: 260px;
}

/* OPTIONS */

#options section {
    margin: 0.75rem;
}

#options section img {
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER */

footer {
    align-content: center;
    padding: 0.75rem;
    background-color: var(--primary-color);
}

footer h3 {
    font-family: var(--font);
    color: var(--accent-color);
    margin: 0.75rem;
}

footer p{
    font-family: var(--font);
    color: var(--accent-color);
    margin: 0.75rem;
    font-size: 12px;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-links img {
    width: 1.75rem;
    padding: 0.25rem;
    margin: 0.25rem;
    background-color: var(--accent-color);
    border-radius: 0.75rem;
}

/* RENTALS */
table {
	margin: 2rem auto;
	border: thin solid var(--secondary-color);
	box-shadow: 0 0 10px var(--secondary-color);
	border-collapse: collapse;
}

tr:first-child th {
	background-color: var(--primary-color);
	color: var(--accent2-color);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--primary-color);
}

th {
	background-color: var(--accent2-color);
	font-size: larger;
    color: var(--primary-color);
}

td {
	text-align: center;
    color: black;
}

tbody tr:nth-child(even) {
	background-color: var(--accent2-color);
}

/* RESERVATIONS */

#resInfo ul {
    font-family: var(--font);
    color: var(--primary-color);
    margin: 0.75rem; 
}

#resForm fieldset {
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    padding: .5rem 2%;
}

#resForm legend {
    color: var(--primary-color);
    padding: 0.5rem;
    font-family: var(--font);
    font-size: 1.25rem;
}

#resForm label {
    display: block;
    padding: 1rem;
    color: var(--accent3-color);
    font-size: 1rem;
    font-family: var(--font);
}

#resForm input[type="text"],
#resForm input[type="email"],
#resForm input[type="tel"] {
    display: block;
    border-radius: 6px;
    padding: .5rem;
    color: var(--accent3-color);
    width: 100%;
    max-width: 400px;
    appearance: none;    
}

#resForm select {
    display: block;
    border-radius: 6px;
    padding: .5rem;
    margin: 0.25rem 1rem;
    color: var(--accent3-color);
    width: 92%;
    max-width: 400px;
    appearance: none;     
}

textarea {
    display: block;
    width:100%;
    margin:5px 0;
    padding:3px;
    background-color: var(--accent1-color);
    border-radius: 6px;
    max-width: 400px;
}

#resForm input[type="radio"] {
    margin-right: 6px;
}

#resForm input[type="submit"] {
    border: none;
    background-color: var(--secondary-color);
    color: var(--accent3-color);
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 6px;
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    margin: 1rem;
    box-shadow: 1px 1px 4px var(--primary-color);
    cursor: pointer;
}

