@media screen and (min-width: 1000px) {

    :root {
        --primary-color: #00568D;
        --secondary-color: #14a07d;
        --accent-color: #F9F9F4;
        --accent2-color: #f0efe8;
        --accent3-color: #202b33;
    
        --font: 'Montserrat', sans-serif;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #menu {
        display: none; /* hide hamburger button */
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    .navigation a{
        padding: 0.5rem;
        display: block;
        text-align: center;
    }

    #hero {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    #local {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #options{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #options {
        text-align: revert;
    }

    #options section ul {
        list-style: revert;
    }

    #last {
        grid-column: 3/4;
    }

    footer {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }

    #resGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}