@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/*This sets colors and fonts for all pages with this css applied,
    to change any font or color simply update the root and all pages will update.
    
    How to use ex. color: var(--primary-color);*/
:root {
    --primary-color: #170126;
    --secondary-color: #D3CDE8;
    --accent1-color: #2D1140;
    --accent2-color: #0D0D0D;
    --accent3-color: #F2F2F2;

    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Source Sans 3', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

