@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap');

/*This sets colors and fonts for all pages with this css applied,
    to change any font or color simply update the root and all pages will update.
    
    How to use ex. color: var(--primary-color);*/
:root {
    --primary-color: #0388A6;
    --secondary-color: #025e73;
    --accent1-color: #88b5bf;
    --accent2-color: #d8d8d8;
    --accent3-color: #0d0d0d;

    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Quattrocento', serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 290px;
}

header {
    align-content: center;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    padding: 0.25rem;
    text-align: left;
    background-color: var(--accent2-color);
}

header img {
    width: 12rem;
}

/* Light to Dark Switch */
#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
    }

main h2, main h3 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

main p {
    font-family: var(--paragraph-font);
    color: var(--accent3-color);
}

/* Responsive Font */
body p, body label, {
    font-size: smaller;
} 

/* Hamburger Menu */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	position: absolute;
	top: 1rem;
	right: 4rem;
}

#menu::before {
	content: "☰";
    color: var(--secondary-color);
}

#menu.open::before {
	content: "X";
    color: var(--secondary-color);
}

.navigation {
    align-self: center;
    display: flex;
	flex-direction: column;
	background-color: var(--accent2-color);
}

.navigation ul {
    list-style: none;
    margin: 0;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

.navigation a:hover {
	font-weight: 700;
}

.open a {
	display: block;
} /* End Hamburger Menu */

/* wayfinding symbol */
.navigation .active { 
	text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 1.5px;
} 


/* Adjustable Overlay */
#medium, #large {
    visibility: hidden;
}


/* Hero Image */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.hero article {
    position: absolute;
    padding: 1rem;
    margin: 1.5rem;
    top: 0.25rem;
    left: 0.25rem;
    right: 0.25rem;
    background-color: rgb(255, 255, 255, 0.7);
} 

.hero button {
    font-family: var(--heading-font);
} /* End Hero Img */

.weather ul {
    list-style: none;
    padding: 0;
    font-family: var(--paragraph-font);
    font-size: smaller;
}

.local {
    text-align: center;
    padding: 0.5rem;
}

.boxes img {
    width: 15rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: 2rem;
    object-fit: cover;
    height: auto;
}

.boxes {
    width: 15rem;
    margin: auto;
    text-align: center;
}

.border {
    border: 4px solid var(--accent3-color);
    border-top: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem ;
    padding: 0.25rem;
    margin: -.5rem 0 2rem 0;
    background-color: var(--accent2-color);
}

.button {
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 1fr;
    align-content: center;
    background-color: var(--accent2-color);
    padding: 0.5rem;
    margin: 0;
}

footer p {
    text-align: left;
}

footer label {
    grid-column: 1/3;
}

/* Social Media Links */
.social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-links img {
    width: 1.75rem;
    padding: 0.25rem;
}/* End Social Media Links */

/* Discover Page CSS */
#dem, #events, #local, #visits {
    border: 0.25rem solid var(--accent1-color);
    border-radius: 1rem;
    background-color: var(--accent2-color);
    margin: 1rem;
    padding: 0.75rem;
}

#dem ul, #events ul, #local ul, #visits ul {
    list-style-type: none;
    padding: 0;
    color: var(--secondary-color);
    font-family: var(--paragraph-font); 
}

#dem ul, #events ul, #local ul, #visits ul {
    margin: 0;
}

#dem h3, #events h3, #local h3, #visits h3 {
    margin: 0.25rem 0;
}

#discover  {
    background-color: var(--accent1-color);
  }

.mArea figure img {
    display: flex;
    justify-content: center;
    margin: 0.25rem;
    object-fit: cover;
    width: 100%;
    height: auto;
}

figure {
    margin: 1rem;
}

figcaption {
    font-family: var(--paragraph-font);
    color: var(--accent3-color);
    font-size: smaller;
    font-style: italic;
}

.mArea img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
