@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap');

/*This sets colors and fonts for all pages with this css applied,
    to change any font or color simply update the root and all pages will update.
    
    How to use ex. color: var(--primary-color);*/
:root {
    --primary-color: #637368;
    --secondary-color: #070D06;
    --accent1-color: #182612;
    --accent2-color: #A0A698;
    --accent3-color: #F1F2E9;

    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Quattrocento', serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 8rem;
    align-content: center;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    padding: 0.5rem;
    text-align: left;
    background-color: var(--accent2-color);
}

main h2, main h3 {
    font-family: var(--heading-font);
    font-size: medium;
    color: var(--secondary-color);
}

main p {
    font-family: var(--paragraph-font);
    font-size: x-small;
    color: var(--secondary-color);
}

/* Hamburger Menu */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	position: absolute;
	top: 5rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    color: var(--accent1-color);
}

#menu.open::before {
	content: "X";
    color: var(--accent1-color);
}

.navigation {
	display: flex;
	flex-direction: column;
	background-color: var(--accent1-color);
}

.navigation ul {
    list-style: none;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
    font-family: var(--heading-font);
    font-size: larger;
    color: var(--accent3-color);
}

.navigation a:hover {
	font-weight: 700;
}

.open a {
	display: block;
} /* End Hamburger Menu */

/* wayfinding symbol */
.navigation .active { 
	text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 1.5px;
} /* End wayfinding symbol */

/* Hero Image */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero article {
    position: absolute;
    padding: 1rem;
    margin: 1.5rem;
    top: 0.25rem;
    left: 0.25rem;
    right: 0.25rem;
    background-color: rgb(255, 255, 255, 0.7);
} 

.hero button {
    font-family: var(--heading-font);
    font-size: x-small;
} /* End Hero Img */

.boxes img {
    width: 15rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: 2rem;
}

.boxes h3 {
    margin: 0 0 0.25rem 0;
}

.boxes {
    width: 15rem;
    margin: auto;
    text-align: center;
}

.border {
    border: 4px solid var(--secondary-color);
    border-top: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem ;
    padding: 0.25rem;
    margin-bottom: 2rem;
}

.button {
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 1fr;
    align-content: center;
    background-color: var(--accent2-color);
    padding: 0.5rem;
}

footer p {
    text-align: left;
    font-size: smaller;
}

footer label {
    grid-column: 1/3;
    font-size: x-small;
}

/* Social Media Links */
.social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-links img {
    width: 1.75rem;
    padding: 0.25rem;
}/* Social Media Links */