@media screen and (min-width: 1000px) {

    :root {
        --primary-color: #7F0008;
        --secondary-color: #BF000c;
        --accent1-color: #ededed;
        --accent2-color: #404040;
        --accent3-color: #0d0d0d;
    
        --heading-font: 'Oswald', sans-serif;
        --paragraph-font: 'Quattrocento', serif;
    }

/* Responsive Font */
h1{
    font-size: revert;
} 

/* Hero Image */
.hero article {
    top: 3.5rem;
}

/* Local Change */
.local {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.local article {
    margin: 1rem;
    padding: 1rem;
    border: 3px solid var(--secondary-color);
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

#last-box {
    grid-column: 3/4;
}

.boxes article {
    margin: 0 2.5rem 0 2.5rem;
}

.navigation ul {
    display: flex;
    margin: 0.25rem;
}

.navigation ul li {
    flex: 1 1 100%;
}

/* Remove Hamburger */
#menu {
    display: none; /* hide hamburger button */
}

.navigation a {
    display: block;
    flex: 1 1 100%;
}

.navigation {
    background-color: var(--accent2-color);
    height: 3rem;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation a{
    padding: 0.5rem;
    display: block;
    text-align: center;
}

.navigation a, .navigation a:visited, .navigation a:hover, .navigation a:focus, .navigation a:active {
    font-family: var(--heading-font);
    font-size: larger;
    color: var(--accent1-color)
} /*End Remove Hamburger */

/* wayfinding symbol */
.navigation .active { 
    text-decoration-color: var(--accent2-color);
}

.social-links img {
    width: 2.75rem;
    padding: 0.25rem;
}


/* Adjustable Overlay */
#large {
    visibility: visible;
}

#small, #medium {
    visibility: hidden;
}

/* Forcast Display */
#fData {
    margin: 0.25rem; 
}

.color {
    background-color: inherit;
}

.circles {
    margin: 4rem 10rem;
}

.circles button {
    margin: 0.5rem;
}


}