@media screen and (min-width: 800px) {
    
.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

#last-box {
    grid-column: 3/4;
}

.boxes article {
    margin: 1rem;
}

}