@media screen and (min-width: 520px) {

:root {
    --primary-color: #0388A6;
    --secondary-color: #025e73;
    --accent1-color: #88b5bf;
    --accent2-color: #d8d8d8;
    --accent3-color: #0d0d0d;
        
    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Quattrocento', serif;
    }

/* Responsive Font */
body p, body label{
    font-size: revert;
} 

/* Hamburger Menu */
#menu {
    top: 3.25rem;
    /*center button*/
} 

/* Hero Image */
.hero article {
    top: 1.5rem;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.boxes article {
    margin: 0.25rem;
}

.border {
    margin: -.5rem 0 2rem 0;
    
}

#last-box .border {
    width: 240px;
    margin: auto;
    margin-top: -0.5rem;
}

#last-box {
    grid-column: 1/3;
}

}