@media screen and (min-width: 520px) {

/* Responsive Font */
body p, body label{
    font-size: revert;
} 

    /* Hamburger Menu */
#menu {
    top: 3.25rem;
    /*center button*/
} 

/* Hero Image */
.hero article {
    top: 1.5rem;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.boxes article {
    margin: 0.25rem;
}

.border {
    margin: -.5rem 0 0 0;
    
}

#last-box .border {
    width: 240px;
    margin: auto;
    margin-top: -0.5rem;
}

#last-box {
    grid-column: 1/3;
}

footer {
    margin-top: 2rem;
}

}