@media screen and (min-width: 500px){
    
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    /* Remove Hamburger */
    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    nav {
        background-color: var(--secondary-color);
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    nav a{
        padding: 0.5rem;
        display: block;
        text-align: center;
    }
    
    nav a, nav a:visited, nav a:hover, nav a:focus, nav a:active {
        font-family: var(--heading-font);
        font-size: larger;
        color: var(--primary-color);
    }

    main {
        grid-template-columns: 1fr 1fr;
        display: grid;
    }

    .hero, h2, iframe {
        grid-column: 1/3;
    }



}

@media screen and (min-width: 750px){

    .f1 fieldset {
        margin: 2rem 15rem;

}

}